<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.clj.module.a">

    <application
        android:name="debug.ModuleAApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="A模块单独应用"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="allowBackup,label,icon,theme">

        <activity android:name=".ui.ModuleAActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
